* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.sideBarBackground {
    background-color: #00315E;
    padding: 1rem;
    color: white;
    font-family: "font family/Font 4";
    width: 100vh;
    height: 85vh;
}

.dashBordStyle {
    color: #6882A1;
    display: flex;
    justify-content:center;
}

